<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Database Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<h2>Logged Daily Tweet</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Tweet ID</th>
        <th scope="col">Cafe Name</th>
        <th scope="col">Cafe Owner Twitter ID</th>
        <th scope="col">Tweet Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tweet: ${tweets}">
        <th scope="row" th:text="${tweet.getTweetId()}"></th>
        <td th:text="${tweet.getCafeName()}"></td>
        <td th:text="${tweet.getCafeOwnerTwitterId()}"></td>
        <td th:text="${tweet.getTweetDate()}"></td>
    </tr>
    </tbody>
</table>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>